section {
  display: flex;
  margin: 10px 0px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  
  div {
    margin:10px 0px;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
}

img {
  width: 400px;
  margin-bottom: 5px;
}

select {
  width: 100px;
}

.select-group {
  display: inline
}

.success {
  color: #22bb33;
  font-size: 20px;
}

.error {
  color: #bb2124;
  font-size: 20px;
}

.center {
  text-align: center;
}